In [ ]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [ ]:
pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [ ]:
import tabula

In [ ]:
df_pdf = tabula.read_pdf("/content/med_report.pdf",
                         pages="all")
df_filtered=df_pdf[0].dropna()
df_list=[]
for i in range(len(df_pdf)):
    df_list.append(df_pdf[i])
    print(df_pdf[i])
large_df=(pd.concat(df_list))
large_df=large_df.dropna()
test_results=large_df[["Attribute", "Value"]]
test_results=test_results.reset_index(drop=True)
test_results=test_results.reset_index(drop=True)
new_header = test_results.iloc[0]
test_results = test_results[1:] 
test_results.columns = new_header 
test_results

In [ ]:
df_pdf = tabula.read_pdf("/content/med_report.pdf", pages="all")

In [ ]:
df_pdf

[   Attribute  Value                      Description
 0         cp    2.0                  Chest Pain Type
 1        NaN    NaN                1: typical angina
 2        NaN    NaN               2: atypical angina
 3        NaN    NaN              3: non-anginal pain
 4        NaN    NaN                  4: asymptomatic
 5   trestbps  130.0           Resting Blood Pressure
 6        NaN    NaN                Normal: 120 mm Hg
 7       chol  250.0                Serum Cholesterol
 8        NaN    NaN              Normal: < 200 mg/dL
 9        fbs    0.0              Fasting Blood Sugar
 10       NaN    NaN       > 120 mg/dL (1 = true; 0 =
 11       NaN    NaN                           false)
 12   restecg    1.0       Resting Electrocardiograph
 13       NaN    NaN                        0: normal
 14       NaN    NaN              1: having ST-T wave
 15       NaN    NaN                      abnormality
 16       NaN    NaN           2: showing probable or
 17       NaN    NaN        definite left ventricular
 18       NaN    NaN   hypertrophy by Estes' criteria
 19   thalach  187.0               Maximum Heart Rate
 20       NaN    NaN                  Normal: 220 bpm
 21     exang    0.0          Exercise Induced Angina
 22       NaN    NaN                  1 = yes; 0 = no
 23   oldpeak    3.5         ST depression induced by
 24       NaN    NaN  exercise relative to rest (0-6)
 25     slope    0.0    Slope of the Peak Exercise ST
 26       NaN    NaN                          Segment
 27       NaN    NaN                     1: upsloping
 28       NaN    NaN                          2: flat
 29       NaN    NaN                   3: downsloping
 30        ca    0.0    number of major vessels (0-3)
 31       NaN    NaN           colored by fluoroscopy
 32      thal    1.0  0 = normal; 1 = fixed defect; 2
 33       NaN    NaN              = reversable defect
 34        TB    0.7                  Total Bilirubin
 35       NaN    NaN              Normal: 0.2-1 mg/dL
 36        DB    0.1                 Direct Bilirubin
 37       NaN    NaN               Normal: <0.2 mg/dL,
                    Attribute    Value                   Description
 0                    Alkphos  187.000          Alkaline Phosphatase
 1                        NaN      NaN           Normal: 30-120 IU/L
 2                       Sgpt   16.000      Alanine Aminotransferase
 3                        NaN      NaN          Normal: 7 to 56 IU/L
 4                       Sgot   18.000    Aspartate Aminotransferase
 5                        NaN      NaN          Normal: 5 to 40 IU/L
 6                         TP    6.800                Total Proteins
 7                        NaN      NaN          Normal: 6.0-8.3 g/dL
 8                        ALB    3.300                       Albumin
 9                        NaN      NaN          Normal: 3.5-5.5 g/dL
 10                 A/G Ratio    0.900    Albumin and Globulin Ratio
 11                       NaN      NaN               Normal: 1.1-2.5
 12               Pregnancies    1.000                             -
 13                   Glucose   85.000  Plasma Glucose Concentration
 14                       NaN      NaN            Normal: <140 mg/dL
 15             BloodPressure   66.000      Diastolic Blood Pressure
 16                       NaN      NaN             Normal: 120 mm Hg
 17             SkinThickness   29.000   Triceps skin fold thickness
 18                       NaN      NaN     Males: 12 mm; Females: 23
 19                       NaN      NaN                            mm
 20                   Insulin  120.000          2-Hour Serum Insulin
 21                       NaN      NaN          Normal: 16-166 mIU/L
 22                       BMI   26.600               Body Mass Index
 23                       NaN      NaN             Normal: 18.5â€”24.9
 24  DiabetesPedigreeFunction    0.351         Function which scores
 25                       NaN      NaN  likelihood of diabetes based
 26                       NaN      NaN             on family history]

In [ ]:
df_filtered=df_pdf[0].dropna()
df_filtered

   Attribute  Value                      Description
0         cp    2.0                  Chest Pain Type
5   trestbps  130.0           Resting Blood Pressure
7       chol  250.0                Serum Cholesterol
9        fbs    0.0              Fasting Blood Sugar
12   restecg    1.0       Resting Electrocardiograph
19   thalach  187.0               Maximum Heart Rate
21     exang    0.0          Exercise Induced Angina
23   oldpeak    3.5         ST depression induced by
25     slope    0.0    Slope of the Peak Exercise ST
30        ca    0.0    number of major vessels (0-3)
32      thal    1.0  0 = normal; 1 = fixed defect; 2
34        TB    0.7                  Total Bilirubin
36        DB    0.1                 Direct Bilirubin

In [ ]:
df_list=[]
for i in range(len(df_pdf)):
    # df_pdf[i]=df_pdf[i][1:]
    df_list.append(df_pdf[i])
    print(df_pdf[i])

   Attribute  Value                      Description
0         cp    2.0                  Chest Pain Type
1        NaN    NaN                1: typical angina
2        NaN    NaN               2: atypical angina
3        NaN    NaN              3: non-anginal pain
4        NaN    NaN                  4: asymptomatic
5   trestbps  130.0           Resting Blood Pressure
6        NaN    NaN                Normal: 120 mm Hg
7       chol  250.0                Serum Cholesterol
8        NaN    NaN              Normal: < 200 mg/dL
9        fbs    0.0              Fasting Blood Sugar
10       NaN    NaN       > 120 mg/dL (1 = true; 0 =
11       NaN    NaN                           false)
12   restecg    1.0       Resting Electrocardiograph
13       NaN    NaN                        0: normal
14       NaN    NaN              1: having ST-T wave
15       NaN    NaN                      abnormality
16       NaN    NaN           2: showing probable or
17       NaN    NaN        definite left ventricular
18       NaN    NaN   hypertrophy by Estes' criteria
19   thalach  187.0               Maximum Heart Rate
20       NaN    NaN                  Normal: 220 bpm
21     exang    0.0          Exercise Induced Angina
22       NaN    NaN                  1 = yes; 0 = no
23   oldpeak    3.5         ST depression induced by
24       NaN    NaN  exercise relative to rest (0-6)
25     slope    0.0    Slope of the Peak Exercise ST
26       NaN    NaN                          Segment
27       NaN    NaN                     1: upsloping
28       NaN    NaN                          2: flat
29       NaN    NaN                   3: downsloping
30        ca    0.0    number of major vessels (0-3)
31       NaN    NaN           colored by fluoroscopy
32      thal    1.0  0 = normal; 1 = fixed defect; 2
33       NaN    NaN              = reversable defect
34        TB    0.7                  Total Bilirubin
35       NaN    NaN              Normal: 0.2-1 mg/dL
36        DB    0.1                 Direct Bilirubin
37       NaN    NaN               Normal: <0.2 mg/dL
                   Attribute    Value                   Description
0                    Alkphos  187.000          Alkaline Phosphatase
1                        NaN      NaN           Normal: 30-120 IU/L
2                       Sgpt   16.000      Alanine Aminotransferase
3                        NaN      NaN          Normal: 7 to 56 IU/L
4                       Sgot   18.000    Aspartate Aminotransferase
5                        NaN      NaN          Normal: 5 to 40 IU/L
6                         TP    6.800                Total Proteins
7                        NaN      NaN          Normal: 6.0-8.3 g/dL
8                        ALB    3.300                       Albumin
9                        NaN      NaN          Normal: 3.5-5.5 g/dL
10                 A/G Ratio    0.900    Albumin and Globulin Ratio
11                       NaN      NaN               Normal: 1.1-2.5
12               Pregnancies    1.000                             -
13                   Glucose   85.000  Plasma Glucose Concentration
14                       NaN      NaN            Normal: <140 mg/dL
15             BloodPressure   66.000      Diastolic Blood Pressure
16                       NaN      NaN             Normal: 120 mm Hg
17             SkinThickness   29.000   Triceps skin fold thickness
18                       NaN      NaN     Males: 12 mm; Females: 23
19                       NaN      NaN                            mm
20                   Insulin  120.000          2-Hour Serum Insulin
21                       NaN      NaN          Normal: 16-166 mIU/L
22                       BMI   26.600               Body Mass Index
23                       NaN      NaN             Normal: 18.5â€”24.9
24  DiabetesPedigreeFunction    0.351         Function which scores
25                       NaN      NaN  likelihood of diabetes based
26                       NaN      NaN             on family history

In [ ]:
large_df=(pd.concat(df_list))

In [ ]:
large_df=large_df.dropna()

In [ ]:
large_df

                   Attribute    Value                      Description
0                         cp    2.000                  Chest Pain Type
5                   trestbps  130.000           Resting Blood Pressure
7                       chol  250.000                Serum Cholesterol
9                        fbs    0.000              Fasting Blood Sugar
12                   restecg    1.000       Resting Electrocardiograph
19                   thalach  187.000               Maximum Heart Rate
21                     exang    0.000          Exercise Induced Angina
23                   oldpeak    3.500         ST depression induced by
25                     slope    0.000    Slope of the Peak Exercise ST
30                        ca    0.000    number of major vessels (0-3)
32                      thal    1.000  0 = normal; 1 = fixed defect; 2
34                        TB    0.700                  Total Bilirubin
36                        DB    0.100                 Direct Bilirubin
0                    Alkphos  187.000             Alkaline Phosphatase
2                       Sgpt   16.000         Alanine Aminotransferase
4                       Sgot   18.000       Aspartate Aminotransferase
6                         TP    6.800                   Total Proteins
8                        ALB    3.300                          Albumin
10                 A/G Ratio    0.900       Albumin and Globulin Ratio
12               Pregnancies    1.000                                -
13                   Glucose   85.000     Plasma Glucose Concentration
15             BloodPressure   66.000         Diastolic Blood Pressure
17             SkinThickness   29.000      Triceps skin fold thickness
20                   Insulin  120.000             2-Hour Serum Insulin
22                       BMI   26.600                  Body Mass Index
24  DiabetesPedigreeFunction    0.351            Function which scores

In [ ]:
test_results=large_df[["Attribute", "Value"]]
test_results

                   Attribute    Value
0                         cp    2.000
5                   trestbps  130.000
7                       chol  250.000
9                        fbs    0.000
12                   restecg    1.000
19                   thalach  187.000
21                     exang    0.000
23                   oldpeak    3.500
25                     slope    0.000
30                        ca    0.000
32                      thal    1.000
34                        TB    0.700
36                        DB    0.100
0                    Alkphos  187.000
2                       Sgpt   16.000
4                       Sgot   18.000
6                         TP    6.800
8                        ALB    3.300
10                 A/G Ratio    0.900
12               Pregnancies    1.000
13                   Glucose   85.000
15             BloodPressure   66.000
17             SkinThickness   29.000
20                   Insulin  120.000
22                       BMI   26.600
24  DiabetesPedigreeFunction    0.351

In [ ]:
test_results=test_results.reset_index(drop=True)
test_results

                   Attribute    Value
0                         cp    2.000
1                   trestbps  130.000
2                       chol  250.000
3                        fbs    0.000
4                    restecg    1.000
5                    thalach  187.000
6                      exang    0.000
7                    oldpeak    3.500
8                      slope    0.000
9                         ca    0.000
10                      thal    1.000
11                        TB    0.700
12                        DB    0.100
13                   Alkphos  187.000
14                      Sgpt   16.000
15                      Sgot   18.000
16                        TP    6.800
17                       ALB    3.300
18                 A/G Ratio    0.900
19               Pregnancies    1.000
20                   Glucose   85.000
21             BloodPressure   66.000
22             SkinThickness   29.000
23                   Insulin  120.000
24                       BMI   26.600
25  DiabetesPedigreeFunction    0.351

In [ ]:
test_results=test_results.transpose()

In [ ]:
new_header = test_results.iloc[0]
test_results = test_results[1:] 
test_results.columns = new_header 
test_results

Attribute,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,...,TP,ALB,A/G Ratio,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
Value,2.0,130.0,250.0,0.0,1.0,187.0,0.0,3.5,0.0,0.0,...,6.8,3.3,0.9,1.0,85.0,66.0,29.0,120.0,26.6,0.351

In [ ]:
df_heart=test_results[['cp', 'trestbps',	'chol',	'fbs',	'restecg',	'thalach',	'exang',	'oldpeak',	'slope',	'ca', 'thal']]
df_heart

Attribute,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
Value,2.0,130.0,250.0,0.0,1.0,187.0,0.0,3.5,0.0,0.0,1.0

In [ ]:
df_liver=test_results[['TB','DB','Alkphos','Sgpt', 'Sgot','TP',	'ALB',	'A/G Ratio']]
df_liver

Attribute   TB   DB Alkphos  Sgpt  Sgot   TP  ALB A/G Ratio
Value      0.7  0.1   187.0  16.0  18.0  6.8  3.3       0.9

In [ ]:
df_diabetes=test_results[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction']]
df_diabetes

Attribute,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
Value,1.0,85.0,66.0,29.0,120.0,26.6,0.351

In [ ]:
writer = ExcelWriter('Revised_values.xlsx')
test_results.to_excel(writer, 'Main')
writer.save()